.loginNav
{
    float:right;
}

h1{
    margin: 10px;
    display: inline;
}

a{
    margin: 5px;
}

nav ul li{
    list-style: none;
    display: inline;
}

input{
    display: inline;
    float: right;
    margin-right: 30px ;
    margin-top: 10px ;
}


ul ng-template  li
{
    display: inline;
}


