 <div  *ngIf="currUser.userName!=''; then loggedIn; else loggedOut"></div>
 <div  *ngIf="currUser.userName=='admin'; then isAdmin; else notAdmin"></div>

<ng-template #loggedIn>
    <nav class="loginNav">
        <div>
            <span> Welcome: {{currUser.userName}}! </span>
            <ul ngbNav #nav="ngbNav">

                    <li ngbNavItem>
                        <a ngbNavLink class="nav-link" [routerLink]="['/logout']" routerLinkActive> Logout</a>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink class="nav-link" [routerLink]="['/userlist', currUser.userName]" routerLinkActive> My List</a>
                    </li>
            </ul>
        </div>
    </nav>
</ng-template>

<ng-template #loggedOut>
    <nav class="loginNav">
        <div>
            <ul ngbNav #nav="ngbNav">
                <li ngbNavItem>
                    <app-user-login (loginEvent)="update($event)">
                    </app-user-login>                   
                </li>
            </ul>
        </div>
    </nav>
</ng-template>

<ng-template #notAdmin>
<nav class="">
<h1>Video Game List Tracker</h1>
    <div class="">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem> 
                 <a ngbNavLink class="nav-link" [routerLink]="['/home']" routerLinkActive> Home</a>
            </li>
            <li ngbNavItem>
            <a ngbNavLink class="nav-link" [routerLink]="['/recentrev']" routerLinkActive>All Reviews</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink class="nav-link" [routerLink]="['/platforms']" routerLinkActive>Games by Platform</a>
            </li> 
        </ul>
    </div>
</nav>
</ng-template>

<ng-template #isAdmin>
<nav class="">
    <h1>Video Game List Tracker</h1>
        <div class="">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem> 
                     <a ngbNavLink class="nav-link" [routerLink]="['/home']" routerLinkActive> Home</a>
                </li>
                <li ngbNavItem>
                <a ngbNavLink class="nav-link" [routerLink]="['/recentrev']" routerLinkActive>All Reviews</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink class="nav-link" [routerLink]="['/platforms']" routerLinkActive>Games by Platform</a>
                </li> 
                <li ngbNavItem>
                    <a ngbNavLink class="nav-link" [routerLink]="['/newgame']" routerLinkActive>Add Game</a>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>



<div>
    <router-outlet></router-outlet>
</div>
