<!-- <div id="searchDiv">
    <input class="form-control" [formControl]="searchText" id="searchBar" type="search" placeholder="Search"> 
</div> -->
<nav class="">
<h1>Video Game List Tracker</h1>
    <div class="">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem> 
                 <a ngbNavLink class="nav-link" [routerLink]="['/home']" routerLinkActive> Home</a>
            </li>
            <li ngbNavItem>
            <a ngbNavLink class="nav-link" [routerLink]="['/recentrev']" routerLinkActive>All Reviews</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink class="nav-link" [routerLink]="['/platforms']" routerLinkActive>Games by Platform</a>
            </li> 
            <li ngbNavItem>
                <a ngbNavLink class="nav-link" [routerLink]="['/newgame']" routerLinkActive>Add Game</a>
            </li>
        </ul>
    </div>

</nav>

<div>
    <router-outlet></router-outlet>
</div>
