<div>
   <span>Edit Review Here: </span> <br> 
   <select id="ratingEdit" [(ngModel)]="rating">
       <option value="" disabled selected>Rating</option>
   </select> <br>
<textarea id="reviewEditText" cols="60" rows="20" [(ngModel)]="reviewText"></textarea> 
<button [disabled]="!rating || !reviewText" type="button" class= "btn btn-outline-primary btn-smc" (click)="editReview()">Edit Review</button> 
<button type="button" class= "btn btn-danger btn-smc" (click)="back()"> Cancel</button> 
</div> 
