<div *ngIf="toReturn | async as gameReturned">
    <h4>Game Info:</h4> 
    <nav id="gameDetailNav">
        <ul ngbNav #nav="ngbNav">
            <li ngbNavItem>
                <a ngbNavLink routerLinkActive [routerLink]="['/get', gameReturned.gameID, gameReturned.title]">Details</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLinkActive [routerLink]="['/get',gameReturned.gameID, gameReturned.title, 'reviews']">Reviews</a>
            </li>
        </ul>
    </nav> 
</div>

<div class="hasReturned" *ngIf="toReturn | async as gameReturned">
    <img src="{{gameReturned.imgSrc}}">
    <p>Title: {{gameReturned.title}} <br>
        Genre: {{gameReturned.category}} <br>
        Release Year: {{gameReturned.releaseYear}} <br> 
        
        <ng-container
         *ngIf="gameReturned.desc!=null; then showDesc; else noDesc">
        </ng-container>

        <ng-template #showDesc>
            Description: {{gameReturned.desc}}
        </ng-template>
        <ng-template #noDesc>
            Description:  N/a
         </ng-template> <br>
</p>
</div>

<div  *ngIf="currUser.userName=='admin'; then adminIn;"></div>
<div  *ngIf="currUser.userName!=''; then adminOut;"></div>

<ng-template #adminOut>
    <div id="goMakeReview" *ngIf="toReturn | async as gameReturned">
        <button type="button" class="btn btn-outline-info" [routerLink]="['/addreview', gameReturned.gameID, gameReturned.title]">Review This Game</button><br>
    </div>
</ng-template>


<ng-template #adminIn>
    <div id="goMakeReview" *ngIf="toReturn | async as gameReturned">
        <button type="button" class="btn btn-outline-info" [routerLink]="['/addreview', gameReturned.gameID, gameReturned.title]">Review This Game</button><br>
    </div>

    <div id="goToEditGame" *ngIf="toReturn | async as gameReturned">
        <button  type="button" class="btn btn-outline-primary" [routerLink]="['/edit', gameReturned.gameID]" >Edit This Game</button><br>
    </div>
    
    <div id="goDeleteGame" *ngIf="toReturn | async as gameReturned">
        <app-delete-game [id]="gameReturned.gameID"></app-delete-game>
    </div>
</ng-template>

