h2
{
    margin-bottom: 5px;
}
img
{
    margin-top: 5px;
     height: 100%;
      width: 40%;
}

#goToEditGame{
    display: inline-block;
    margin: 10px;

}

#goMakeReview
{
    display: inline-block;
    margin: 10px;



}

#goDeleteGame
{
    display: inline-block;
    margin: 10px;
    float: right;
    

}