<h2>Game Info</h2>
<div *ngIf="toReturn | async as gameReturned">
    <img src="{{gameReturned.imgSrc}}">
    <p>{{gameReturned.title}} <br>
        Genre: {{gameReturned.category}} <br>
        Release Year: {{gameReturned.releaseYear}} <br> 
        
        <ng-container
         *ngIf="gameReturned.desc!=null; then showDesc; else noDesc">
        </ng-container>

        <ng-template #showDesc>
            Description: {{gameReturned.desc}}
        </ng-template>
        <ng-template #noDesc>
            Description:  N/a
         </ng-template>
</p>
</div>

