<h2>Game Info:</h2> 
<div *ngIf="toReturn | async as gameReturned">
    <img src="{{gameReturned.imgSrc}}">
    <p>{{gameReturned.title}} <br>
        Genre: {{gameReturned.category}} <br>
        Release Year: {{gameReturned.releaseYear}} <br> 
        
        <ng-container
         *ngIf="gameReturned.desc!=null; then showDesc; else noDesc">
        </ng-container>

        <ng-template #showDesc>
            Description: {{gameReturned.desc}}
        </ng-template>
        <ng-template #noDesc>
            Description:  N/a
         </ng-template>
</p>
</div>

<div id= gameReviews *ngIf="toReturn | async as gameReturned">
    <app-review-by-name [gameTitle]="gameReturned.title">
        
    </app-review-by-name>
</div>

<div id="goToEditGame" *ngIf="toReturn | async as gameReturned">
    <button  type="button" class="btn btn-outline-primary" [routerLink]="['/edit', gameReturned.gameID, gameReturned.title]" >Edit This Game</button><br>
</div>

<div id="goMakeReview" *ngIf="toReturn | async as gameReturned">
    <button type="button" class="btn btn-outline-info" [routerLink]="['/addreview', gameReturned.gameID, gameReturned.title]">Review This Game</button><br>
</div>

<div id="goDeleteGame" *ngIf="toReturn | async as gameReturned">
    <app-delete-game [id]="gameReturned.gameID"></app-delete-game>
</div>
