<div class="container">
    <div class="child">
        <ng-container
            *ngIf="game.imgSrc!=null; then showImage; else loadImage">
        </ng-container> 

        <ng-template #showImage>
            <a [routerLink]="['/get', game.gameID]"> 
                <img 
                src="{{game.imgSrc}}">
                <!-- {{game.title}} -->
            </a>

        </ng-template>

        <ng-template #loadImage>
            <img src="../assets/boxart/noimage.png">
        </ng-template>
    </div>

    <!-- <p id="gameInfo">
        Title: <a [routerLink]="['/get', game.gameID]"> {{game.title}}</a> <br>
        Genre: {{game.category}} <br>
        Release Year: {{game.releaseYear}}
    </p> -->
</div> 