<div id="reviewDiv">
    <h2>Review for {{addThis.gameTitle}}</h2>
    <span>Title: </span><input type="text" [(ngModel)]="addThis.reviewTitle">
     <span id="scoreSpan">Score: </span><select id="gameScore" [(ngModel)]="addThis.rating">
         <option value="" disabled selected>Rating</option>
     </select> <br> <br>
     <span id="reviewArea">Your Review Goes Here:</span><br>
    <textarea cols="60" rows="20" [(ngModel)]="addThis.reviewText"></textarea>
    <button [disabled]="!addThis.gameTitle || !addThis.rating || !addThis.reviewText" type="button" class="btn btn-primary btn-sm" id="toSubmit" (click)="addReview()">Submit</button>
    <button type="button" class="btn btn-danger btn-sm" id="cancelBtn" (click)="back()">Cancel</button>
</div>
