<h1>Editing {{toEdit.title}}...</h1>
<div>
   <span>Title:</span>  <input type="text" [(ngModel)]="toEdit.title"> <br>
   <span>Genre:</span> <select id="categorySelect" [(ngModel)]="toEdit.category">
      <option value="" disabled selected>Choose Genre Category</option>
  </select> <br>
   <span>Release Year:</span>  <select name="" id="yearSelect" [(ngModel)] = "toEdit.releaseYear">
      <option value="" disabled selected>Select Year</option>
   </select>

   <button [disabled]="!toEdit.title || !toEdit.category || !toEdit.releaseYear"  type="button" class="btn btn-primary btn-sm" (click)="editGame()">Edit Game</button>
   <button type="button" class="btn btn-danger btn-sm" id="cancelBtn" (click)="back()">Cancel</button>


</div>






 