div{
    margin: 20px;
}

span
{
    margin-right: 5px;
}

input
{
    margin-bottom: 10px;
    margin-top: 10px;
}

button
{
    margin-top: 10px;
    
}

.child
{
    width: 650px;
}

#cancelBtn
{
    float: left;

}

#editBtn
{
    margin-right: 133px;
    float: right;

}