<h1>Editing {{toEdit.title}}...</h1>
<div>
   <span>ID: {{toEdit.gameID}}</span> <br>
   <span>Title:</span>  <input type="text" [(ngModel)]="toEdit.title"> <br>
   <span>Genre:</span> <select id="categorySelect" [(ngModel)]="toEdit.category">
      <option value="" disabled selected>Choose Genre Category</option>
  </select> <br>
   <span>Release Year:</span>  <select name="" id="yearSelect" [(ngModel)] = "toEdit.releaseYear">
      <option value="" disabled selected>Select Year</option>
   </select>

   <button (click)="editGame()">Edit Game</button>

</div>






 