    <div id="navBar">
        <h4>Game Info:</h4> 
        <nav id="gameDetailNav">
            <ul ngbNav #nav="ngbNav">
                <li ngbNavItem>
                    <a  ngbNavLink [routerLink]="['../']" routerLinkActive>Details</a>
                </li>
                <li ngbNavItem>
                    <a  ngbNavLink [routerLink]="['./']" routerLinkActive>Reviews</a>
                </li>
            </ul>
        </nav>      
    </div>

<div>
    <app-review *ngFor="let review of reviews" [review]="review">

    </app-review>
</div>